@page
@model Mission09_sk389.Pages.PaymentConfirmationModel
@{
}

<div class="text-center">
    <h2>Payment Recieved, thank you for your order!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>